@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700|Roboto:300,300i,400,400i,700&display=swap");

:root {
  --tomato: #e60000;
  --green: #232b2b;
  --white: #ffffff;
  --black: #000000;
  --light-black: #1d1f21;
  --background-section: #f8f8f8;
  --scrollbar-track-color: #fffffff;
  --scrollbar-thumb-color: #e60000;
}

*,
html {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 62.5%;
  box-sizing: border-box !important;
}

body {
  width: 100%;
  color: #000;
  overflow-x: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
}

main {
  width: 100%;
  height: 100%;
  position: relative;
}

section {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
}

.content-container {
  margin: 0 auto !important;
  position: static;
}

/*
================================================================
Loader
================================================================
*/

.loader-container {
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  z-index: 100;
  transition: all 0.2s linear;
}

.loader {
  color: var(--tomato);
  font-size: 5rem;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }

  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }

  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }

  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }

  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*
================================================================
Fancybox Plugin Css
================================================================
*/

.fancybox-container {
  z-index: 999999 !important;
}

.fancybox-slide .fancybox-content {
  max-width: 80% !important;
  max-height: 80% !important;
  margin: 0;
}

.fancybox-infobar {
  margin: 0.5rem 2rem !important;
}

.fancybox-toolbar {
  display: flex;
  gap: 2rem !important;
  padding: 1rem 1rem !important;
  background-color: #000;
}

.fancybox-toolbar button {
  width: 25px;
  height: 25px;
  background: transparent;
}

.fancybox-navigation button {
  background: transparent !important;
  padding: 0 1.5rem !important;
}

.fancybox-share p a.fancybox-share_button {
  display: none !important;
}

.fancybox-share p input {
  padding: 2rem 5rem !important;
}

/*
================================================================
Mobile Section
================================================================
*/

.mobile-nav-container {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  z-index: 999;
  right: -100%;
  background-color: rgba(255, 0, 0, 0.5);
  transition: 700ms cubic-bezier(0.86, 0.1, 0.07, 1);
}

.show-nav-container {
  right: 0;
}

.mobile-menu {
  width: 300px;
  height: 100%;
  position: absolute;
  right: 0;
  background-color: var(--green);
}

.mobile-menu-logo {
  width: 100%;
  height: 120px;
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  border-bottom: 0.5px solid #3a3838;
  padding-left: 2rem !important;
}

.mobile-menu-logo img {
  width: 230px;
}

.hide-mobile-menu-btn {
  border: none;
  outline: none;
  color: var(--white);
  position: absolute;
  background: none;
  right: 15px;
  top: 10px;
  z-index: 1;
}

.hide-mobile-menu-btn>.icon {
  font-size: 2.5rem;
  font-weight: 300;
  transition: all 0.4s linear;
}

.hide-mobile-menu-btn:hover>.icon {
  transform: rotate(-270deg);
  color: var(--tomato);
}

.animate-hide-button>.icon {
  animation: rotate 0.4s ease-in-out 0.4s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(270deg);
  }
}

.mobile-navigation>ul,
.mobile-menu-social>ul {
  list-style: none;
}

.mobile-navigation>ul>li {
  display: block;
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid #3a3838;
}

.mobile-navigation>ul>li.active {
  border-left: 5px solid var(--tomato);
}

.mobile-navigation>ul>li.active>a {
  color: var(--tomato);
  font-weight: bold;
}

.mobile-navigation>ul li>a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 2rem;
  padding-left: 20px !important;
  text-decoration: none;
}

.mobile-navigation>ul li>a:hover {
  color: var(--tomato);
}

.mobile-menu-social {
  width: 100%;
  margin-top: 30px !important;
}

.mobile-menu-social>ul>li {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #192020;
  transition: all 0.3s linear;
}

.mobile-menu-social>ul>li:hover {
  box-shadow: 0px 0px 35px 2px var(--tomato);
}

.mobile-menu-social>ul>li>a {
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
================================================================
Sticky Navbar
================================================================
*/

.sticky-nav-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 999999;
  visibility: hidden;
  background-color: var(--white);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.sticky-nav {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: space-around;
}

.sticky-logo,
.sticky-menu {
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.sticky-logo img {
  width: 200px;
  height: 100%;
  margin-left: 2rem !important;
}

.sticky-menu ul {
  list-style: none;
}

.sticky-menu ul>li {
  display: inline-block;
  margin-inline: 2rem !important;
}

.sticky-menu ul>li>a {
  display: block;
  text-decoration: none;
  color: var(--green);
  font-size: 1.8rem;
  font-weight: 400;
}

.sticky-menu ul>li.active a,
.sticky-menu ul>li>a:hover {
  color: var(--tomato);
}

/*
================================================================
Header Section
================================================================
*/

header {
  width: 100%;
  height: 120px;
  position: relative;
}

.nav {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--tomato);
}

.logo {
  width: 320px;
  height: 100%;
  overflow: hidden;

  background-color: var(--white);
}

.logo a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo a img {
  width: 250px;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.navs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-items {
  display: flex;
  float: left;
  gap: 5rem;
}

.nav-item {
  position: relative;
}

.nav-item:last-child {
  margin-right: 50px !important;
}

.nav-item::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--white);
  bottom: -14px;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.nav-item.active::after {
  width: 30px;
}

.nav-item:hover::after {
  width: 30px;
}

.nav-links {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.nav-links:hover {
  color: var(--white);
}

.search-icon {
  color: var(--white);
  font-size: 1.4rem;
  margin-right: 50px !important;
  cursor: pointer;
}

.nav-contact-btn {
  padding: 10px 20px !important;
  display: flex;
  flex-direction: column;
  border: 0.5px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  margin-right: 60px !important;
}

.nav-contact-btn p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--white);
}

.nav-contact-btn .contact-social-networks a {
  color: var(--white);
}

.nav-contact-btn .contact-social-networks a:hover {
  color: var(--white);
}

.icon-bars {
  border: none;
  outline-style: none;
  background: none;
  margin-right: 2rem !important;
  display: none;
}

.icon-bar {
  width: 35px;
  height: 3px;
  border-radius: 5px;
  display: block;
  background-color: var(--white);
}

.icon-bar:nth-child(2) {
  margin: 5px 0 !important;
}

.icon-bar:last-child {
  width: 25px;
  position: relative;
  left: 28%;
}

/*
================================================================
Slider Section
================================================================
*/

.slider-container {
  width: 100%;
  height: calc(100vh - 120px);
  overflow: hidden;
  /* padding-left: 150px !important; */
}

.slider,
.slider .owl-stage-outer,
.slider-testimonial .owl-stage-outer,
.slider-thumb-testimonial .owl-stage-outer {
  width: 100% !important;
  height: 100% !important;
  position: relative;
}

.slider .owl-stage,
.slider-testimonial .owl-stage,
.slider-thumb-testimonial .owl-stage,
.owl-item {
  height: inherit !important;
}

.slider-thumb-testimonial .owl-item {
  width: 100px;
  height: 100%;
  border-radius: 100% !important;
}

.slider .item,
.slider-testimonial .item,
.slider-thumb-testimonial .item {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-thumb-testimonial .item {
  border-radius: 100%;
}

.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: -1;
}

.active>.item>.slide-image {
  animation: zoom 8000ms linear 1s;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.15);
  }
}

.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.platform-icons {
  display: flex;
  gap: 20px;
  color: var(--white);
  font-size: 9rem;
  margin-bottom: 20px !important;
  opacity: 0;
  transform: translateY(0);
}

.slider .active>.item .platform-icons {
  animation: slideDown 1.5s ease-out forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slide-heading {
  display: flex;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transform: scale(0.5);
}

.slider .active>.item .slide-heading {
  animation: scaling 1s linear 0.5s forwards;
}

@keyframes scaling {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.slide-heading h1 {
  font-size: 5rem;
  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px !important;
}

.slide-button a {
  display: block;
  width: 160px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--tomato);
  position: relative;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transform: scale(0);
}

.slide-button a::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background-color: var(--green);
  z-index: -1;
  transition: 0.5s cubic-bezier(0.8, 0.02, 0.76, 0.75);
}

.slide-button a::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background-color: var(--tomato);
  z-index: -1;
  transition: 0.5s cubic-bezier(0.8, 0.02, 0.76, 0.75);
}

.show_animated_btn::before {
  top: 0 !important;
}

.hide_animated_btn::before {
  top: -100% !important;
  transition: 0.1s linear 0.5s !important;
}

.hide_animated_btn::after {
  top: 0 !important;
}

.show_animated_btn::after {
  top: -100% !important;
  transition: 0.1s linear !important;
}

.slider .active>.item .slide-button a {
  animation: slideUp 1.2s ease-out 1s forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.slider.owl-theme .owl-nav,
.slider.owl-theme .owl-dots {
  position: absolute;
  bottom: 0;
  z-index: 5;
  right: 0;
  display: flex;
  gap: 2px;
}

.slider.owl-theme .owl-dots {
  z-index: 5;
  left: 48%;
  top: 95%;
  gap: 10px;
  width: fit-content;
}

.slider.owl-theme .owl-dots .owl-dot.active span {
  background-color: var(--tomato) !important;
}

.slider.owl-theme .owl-dots .owl-dot span,
.slider.owl-theme .owl-dots .owl-dot span:hover {
  background-color: var(--white) !important;
}

.slider.owl-theme .owl-nav .owl-prev,
.slider.owl-theme .owl-nav .owl-next {
  width: 60px;
  height: 60px;
  outline: none;
  border: none;
  border-radius: 0 !important;
  background-color: var(--tomato) !important;
  cursor: pointer !important;
  overflow: hidden;
}

.sv-inline--fa {
  cursor: pointer !important;
}

/*
================================================================
About Section
================================================================
*/

.about-section {
  background-image: url("../images/icons/dot-pattern-red-2.png");
  background-position: top left;
  background-size: contain;
  background-repeat: no-repeat;
}

.first-row {
  position: relative;
}

.first-row::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 18px;
  background-image: url("../images/icons/pattern-1.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  left: 0;
  bottom: -18px;
}

.first-row:before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #f8f8f8;
}

.left-content,
.right-content {
  width: 100%;
  height: 100%;
  position: relative;
}

.about-left-content {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  padding-right: 6rem !important;
}

.about-headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
}

.about-headings span {
  font-size: 1.8rem;
  color: var(--tomato);
  font-weight: 500;
  margin-bottom: 0.5rem !important;
  text-transform: uppercase;
}

.about-headings h1 {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: end;
  color: var(--black);
  text-transform: uppercase;
  margin-bottom: 2rem !important;
}

.mark,
.section-mark {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  position: relative;
  width: fit-content;
  background-color: transparent;
}

.line {
  display: inline-block;
  width: 60px;
  height: 2px;
  overflow: hidden;
  background-color: var(--tomato);
}

.line-left,
.line-right {
  width: 30px;
}

.mark.animate .line-about {
  animation: slideInRight;
  animation-duration: 1s;
}

.mark.animate>span>img {
  animation: slideInRight;
  animation-duration: 1s;
}

.section-mark.animate>span>img {
  animation: zoomIn;
  animation-duration: 1s;
}

.section-mark.animate .line-left {
  animation: slideInLeft;
  animation-duration: 1s;
}

.section-mark.animate .line-right {
  animation: slideInRight;
  animation-duration: 1s;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10rem 2rem 0 6rem !important;
}

.about-content p {
  font-size: 1.6rem;
  color: var(--light-black);
}

.about-content p:first-child {
  color: var(--black);
  font-weight: 500;
}

.about-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 18px;
  background-image: url("../images/icons/pattern-1.png");
  background-repeat: repeat-x;
  background-position: left bottom;
  left: 0;
  bottom: 0;
}

.about-row-b {
  padding: 12rem 0 !important;
  background-image: url("../images/icons/dot-pattern-red-2.png");
}

.service-link {
  display: block;
  text-decoration: none;
}

.service-image {
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
}


.service-image img {
  width: 100%;
  display: block;
}

.service-heading {
  display: block;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1));
  display: flex;
  justify-content: center;
  align-items: end;
  padding-bottom: 3rem !important;
  color: var(--white);
  transition: all 500ms ease-in;
}

.service-heading h1 {
  font-size: 2rem;
}

.service:hover .service-heading {
  opacity: 0;
  visibility: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 500ms ease-in;
}

.service:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.overlay-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.overlay-content span {
  margin-bottom: 2rem !important;
}

.overlay-content h1 {
  font-size: 2rem;
  color: var(--white) !important;
}


.overlay-content span,
.overlay-content h1 {
  opacity: 0;
  transform: translateY(40px);
}

.service:hover .overlay-content span {
  animation: slideUp 0.4s linear forwards;
}

.service:hover .overlay-content h1 {
  animation: slideUp 0.4s linear 0.2s forwards;
}



@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.service-content {
  display: block;
  width: 100%;
  transition: 0.3s ease-in;
  padding: 3rem 3rem !important;
}

.service-content p {
  font-size: 1.5rem;
  color: var(--black);
}

.service:hover .service-content {
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in;
}

/*
================================================================
Game Section
================================================================
*/

.latest-game-section,
.gallery-section,
.section-team {
  min-height: 100vh;
  background-color: var(--background-section);
  background-image: url("../images/icons/dot-pattern-2.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  overflow: visible;
  padding: 10rem 0 3rem 0 !important;
}

.section-title-line {
  width: 30px;
}

.section-title h1 {
  font-size: 4rem !important;
  font-weight: 600;
  margin-bottom: 1rem !important;
}

.section-title h2 {
  font-size: 1.5rem !important;
  color: var(--tomato);
  margin-bottom: 2rem !important;
  text-transform: uppercase;
}

.section-title img.title_image {
  width: 400px;
  height: 150px;
  object-fit: contain;
}

.section-title p {
  text-align: center;
  font-size: 1.5rem;
  width: 500px;
  display: inline-block;
  color: var(--light-black);
  /* margin-bottom: rem !important; */
  margin: 2rem 0 !important;
}

.latest-game-row {
  margin-bottom: 6rem !important;
}

.latest-game-content {
  width: 100%;
  padding: 5rem 7rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white);
  position: relative;
  z-index: 100;
  margin-top: 3.6rem !important;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.image-right .latest-game-content {
  left: 3.6rem;
}

.row.image-left .image-container {
  left: 3.6rem;
}

.latest-game-content a.latest-game-content-title {
  color: var(--black) !important;
  font-size: 2.4rem;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.latest-game-content a.latest-game-content-title:hover {
  text-decoration: underline;
  color: var(--tomato) !important;
}

.latest-game-content span.tags {
  color: var(--tomato);
  font-size: 1.4rem;
}

.latest-game-content span.divider {
  width: 35px;
  border-bottom: 2px solid var(--black);
  border-radius: 2px;
  margin-top: 1rem !important;
}

.latest-game-content p {
  text-align: center;
  color: var(--light-black);
  font-size: 1.5rem;
  margin: 3rem 0 !important;
}

.latest-game-content .game-content-items {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.game-content-items {
  width: 100%;
  margin-bottom: 3rem !important;
}

.content-item {
  display: flex;
  flex-direction: column;
}

.content-item span,
.ratings span {
  width: fit-content;
}

.content-item span:first-child,
.content-item span:last-child {
  font-size: 1.5rem;
  color: var(--black);
}

.content-item span:last-child,
.content-item .ratings span:first-child {
  font-size: 1.4rem;
  color: var(--tomato);
}

.content-item .ratings,
.content-item .ratings span:last-child {
  display: flex;
  align-items: center;
}

.latest-game-content .game-content-items .content-item .ratings span:last-child {
  gap: 0.5rem !important;
  font-size: 1.8rem;
  color: #1e1f4c;
  margin-left: 0.5rem !important;
}

.download-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.download-btns a.download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  padding: 1.5rem 0 !important;
  border-radius: 5px;
  gap: 1.5rem;
  text-decoration: none;
  transition: all 0.1s ease-in;
  color: var(--white);
}

.download-btns a.download-btn:hover {
  opacity: 0.8;
}

.download-btns a.download-btn>.btn-icon {
  font-size: 3rem;
  color: var(--white);
}

.download-btns a.download-btn span.btn-text {
  display: flex;
  flex-direction: column;
}

.download-btns a.download-btn span.btn-text span:first-child {
  font-size: 1.2rem;
}

.download-btns a.download-btn span.btn-text span:last-child {
  font-size: 1.5rem;
}

.download-btn.playstore-btn {
  background-color: var(--tomato);
}

.download-btn.applestore-btn {
  background-color: var(--green);
}

.image-container {
  width: 100%;
  height: 450px;
  display: block;
  position: relative;
  overflow: hidden;
}

.image-container a {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.image-container a img {
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.7s ease-in-out;
}

.latest-game-row:hover .image-container a img {
  transform: scale(1.15);
}

/*
================================================================
Gallery Section
================================================================
*/

.gallery-section {
  background-color: var(--white) !important;
  background-image: url("../images/icons/dot-pattern-1.png");
  padding-bottom: 8rem !important;
  height: auto !important;
}

.gallery-section:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0px;
  height: 18px;
  background: url("../images/icons/pattern-1.png") left bottom repeat-x;
}

.masonry-container {
  margin-top: 3rem !important;
}

.gallery-item {
  position: relative;
  padding-inline: 1.5rem !important;
  margin-bottom: 3rem !important;
}

.gallery-item .gallery-image-box {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.gallery-item .gallery-image {
  position: relative;
  display: block;
  margin: 0px;
}

.gallery-item .gallery-image img {
  position: relative;
  display: block;
  width: 100%;
}

.gallery-item .galler-image-overlay {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  opacity: 0;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-align: center;
  transition: all 700ms ease;
  background: rgba(0, 0, 0, 0.7);
  transform-origin: top;
  transform: scaleY(0.7);
}

.gallery-item:hover .galler-image-overlay {
  opacity: 1;
  -moz-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
  visibility: visible;
}

.galler-imag-overlay-content {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.gallery-item .galler-imag-overlay-content a.link {
  position: relative;
  width: 50px;
  height: 50px;
  color: var(--white);
  text-align: center;
  display: inline-block;
  background-color: var(--tomato);
  opacity: 0;
  font-size: 3rem !important;
}

.gallery-item .galler-imag-overlay-content a.link:nth-child(1) {
  top: -30px;
}

.gallery-item .galler-imag-overlay-content a.link:nth-child(2) {
  top: 30px;
}

.gallery-item:hover .galler-imag-overlay-content a.link {
  top: 0;
  opacity: 1;
  transition: all 700ms ease 100ms;
}

.gallery-item .galler-imag-overlay-content a.link:hover {
  transition: all 50ms ease !important;
  color: var(--tomato) !important;
  background-color: var(--white) !important;
}

/*
================================================================
Counter Section
================================================================
*/

.section-counter {
  background-image: url("../images/background/Mid_Banner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.section-counter::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/icons/dot-pattern-3.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.counter-row {
  margin: 3rem 0 !important;
}

.counter-item:nth-child(odd) .counter-heading {
  margin-bottom: 2rem !important;
}

.counter-item:last-child .counter-container {
  margin-bottom: 2rem !important;
  padding-top: 5rem !important;
}

.counter-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem !important;
  overflow: hidden;
}

.counter-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-box .counter,
.counter-box span {
  font-size: 6rem;
  font-weight: 400;
  color: var(--white);
}

.counter-heading {
  font-size: 2rem;
  color: var(--white);
  text-transform: uppercase;
}

/*
================================================================
Team  Section
================================================================
*/

.section-team {
  background-color: var(--background-section);
  min-height: auto;
}

.team-item {
  position: relative;
  height: 100%;
  padding-inline: 1rem !important;
}

.team-box {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 !important;
  border-radius: 5px;
  z-index: 1;
}

.team-box::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--green);
  z-index: -1;
  border-radius: 5px;
  transition: all 0.6s ease-in-out;
}

.team-member-image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.team-member-image {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
  position: relative;
}

.team-member-image::after {
  content: "";
  display: block;
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.6s ease-in-out;
}

.team-member-image img {
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: contain;
  border-radius: 100%;
  position: relative;
}

.team-member-name {
  margin-top: 3rem !important;
}

.team-member-designation {
  margin-top: 2rem !important;
  color: var(--tomato);
}

.team-member-socials {
  margin-top: 0.5rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.team-member-socials a {
  color: var(--background-section);
  font-size: 3rem;
}

.team-member-socials a:hover {
  color: var(--tomato);
}

.team-box:hover::after {
  height: 100%;
}

.team-box:hover .team-member-socials {
  opacity: 1;
}

.team-box:hover .team-member-name h1 {
  color: var(--background-section);
}

.team-box:hover .team-member-image::after {
  top: 0;
}

/*
================================================================
 Reviews Section
================================================================
*/

.reviews-section {
  padding: 90px 0px 120px !important;
}

.reviews-section::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("../images/icons/dot-pattern-5.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.reviews-section::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 15px;
  bottom: 0px;
  left: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)),
    url("../images/icons/pattern-1.png");
  background-position: left bottom;
  background-repeat: repeat-x;
  z-index: -1;
}

.slider-testimonial {
  width: calc(1040px - 320px);
  height: auto;
  margin: 1rem auto !important;
}

.slide-review {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
  font-size: 1.6rem;
  text-align: center;
  background-color: var(--white);
}

.slider-thumb-testimonial {
  width: 425px;
  height: 140px;
  margin: -10px auto !important;
  position: relative;
}

.slide-thumb {
  display: block;
  cursor: pointer;
  transform: scale(0.5);
  transition: all 0.5s ease;
  position: relative;
}

.slide-thumb,
.slide-thumb img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
}

.slider-thumb-testimonial .center .slide-thumb {
  border: 2px solid var(--tomato);
  padding: 5px !important;
  transform: scale(0.7);
}

.slider-testimonial .owl-nav {
  display: none !important;
}

.slider-thumb-testimonial .owl-nav {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  gap: 0.2rem;
}

.slider-thumb-testimonial .owl-nav .owl-prev,
.slider-thumb-testimonial .owl-nav .owl-next {
  width: 25px;
  height: 25px;
  overflow: hidden;
  opacity: 1;
}

.slider-thumb-testimonial .owl-nav .owl-prev .icon,
.slider-thumb-testimonial .owl-nav .owl-next .icon {
  opacity: 0.36;
}

.slider-thumb-testimonial .owl-nav .owl-prev:hover,
.slider-thumb-testimonial .owl-nav .owl-next:hover {
  background: transparent;
}

.slider-thumb-testimonial .owl-nav .owl-prev:hover .icon,
.slider-thumb-testimonial .owl-nav .owl-next:hover .icon {
  opacity: 1;
}

/*
================================================================
Contact Section
================================================================
*/

.contact-section {
  z-index: 1;
  padding: 9rem 18rem !important;
  background-color: var(--background-section);
}

.contact-section::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../images/icons/dot-pattern-4.png") left bottom no-repeat;
  z-index: -1;
}

.contact-title {
  margin-left: 1rem !important;
}

.contact-message {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.8rem;
  color: var(--light-black);
  margin: 2rem 0 3rem 1rem !important;
}

.contact-message p {
  font-size: 1.6rem;
  color: var(--light-black);
}

.contact-form {
  width: 100%;
}

.input-item {
  padding-inline: 1rem !important;
}

.contact-form .row {
  margin-bottom: 2rem !important;
}

.inputs {
  background-color: var(--white);
}

.inputs input {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 2rem !important;
  background-color: var(--white) !important;
  font-size: 1.4rem;
}

.inputs input:focus,
.inputs textarea:focus {
  outline: 0;
  border-color: var(--tomato);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
}

.inputs textarea {
  font-size: 1.5rem;
  padding: 2rem 2rem !important;
  background-color: var(--white) !important;
  resize: none;
}

.inputs input[type="number"]::-webkit-inner-spin-button,
.inputs input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.input-item .submit-btn {
  width: 160px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--tomato);
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: none;
  outline: none;
  gap: 1rem;
}

.submit-btn::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background-color: var(--green);
  z-index: -1;
  transition: 0.5s cubic-bezier(0.8, 0.02, 0.76, 0.75);
}

.submit-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: -100%;
  background-color: var(--tomato);
  z-index: -1;
  transition: 0.5s cubic-bezier(0.8, 0.02, 0.76, 0.75);
}

.show_animated_btn::before {
  top: 0 !important;
}

.hide_animated_btn::before {
  top: -100% !important;
  transition: 0.1s linear 0.5s !important;
}

.hide_animated_btn::after {
  top: 0 !important;
}

.show_animated_btn::after {
  top: -100% !important;
  transition: 0.1s linear !important;
}

.contact-info-container {
  padding: 1.5rem 2rem !important;
}

.contact-info-container:first-child {
  margin-top: 3rem !important;
}

.contact-info-heading h4 {
  font-weight: 600;
}

.contact-info-divider {
  width: 30px;
  margin-top: 1rem !important;
  border-bottom: 2px solid var(--tomato);
}

.contact-info-contact {
  margin-top: 1.5rem !important;
}

.contact-info-contact span {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  color: var(--light-black);
}

.contact-info-contact a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--light-black);
}

.contact-info-contact a:hover {
  text-decoration: underline;
  color: var(--tomato);
}

.contact-social-networks {
  display: flex;
  gap: 1rem;
  margin-top: -10px !important;
}

.contact-social-networks a {
  text-decoration: none;
  display: block;
  font-size: 2.8rem;
}

.contact-social-networks a:hover {
  color: var(--tomato);
}

.contact-page-form {
  padding: 100px 50px 50px 50px !important;
}

/*
================================================================
Pages - Banner Section
================================================================
*/
.section-banner {
  height: 500px;
  background-image:
    url("../images/background/bg-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}


.banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-banner {
  background-image:
    url("../images/background/OurStory.png");
  background-size: 100% 100%;
}

.contact-banner {
  background-image:
    url("../images/background/OurContact.png");
  background-size: 100% 100%;
}

.gallery-banner {
  background-image:
    url("../images/background/OurMoments.png");
  background-size: 100% 100%;
}



.banner-content h1 {
  font-size: 5rem;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
}




.games-banner {
  background-color: var(--background-section);
}

/*
================================================================
Contact Page - Map Styling
================================================================
*/
.map {
  width: 100%;
  height: 500px;
  background-color: var(--white);
}

.contact-first-row::after {
  bottom: 0;
}

/*
================================================================
Footer Section
================================================================
*/

.footer-section {
  z-index: 1;
  padding: 9rem 16rem !important;
  background-image: url("../images/background/Footer_Banner1.png");
  background-size: 100% 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quick-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8rem;
  margin: 5rem 0 4rem 0 !important;
}

.quick-links a {
  font-size: 1.8rem;
  color: var(--white);
  font-weight: 400;
  text-decoration: none;
}

.quick-links a:hover {
  color: var(--tomato);
}

.footer-divider {
  width: 100%;
  border-bottom: 2px solid var(--white);
  margin-bottom: 4rem !important;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem !important;
}

.footer-contact a,
.footer-contact span {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
  color: var(--white);
  text-decoration: none;
  font-weight: 400;
}

.footer-contact a:hover {
  color: var(--tomato);
  text-decoration: underline;
}

.footer-contact a .icon,
.footer-contact span .icon {
  font-size: 1.6rem;
}

.copyright-text span {
  font-size: 1.4rem;
  color: #606062;
}

.partner-section {
  padding-bottom: 5rem !important;
}

.partner-logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0 !important;
}

.partner-logo img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  object-position: center;
  border: 1px solid var(--green);
  border-radius: 50%;
  aspect-ratio: 1/1;
}



/*
================================================================
 Responsive Css
================================================================
*/


@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .nav-items {
    gap: 3rem;
  }

  .nav-item:last-child {
    margin-right: 30px !important;
  }

  .search-icon {
    margin-right: 30px !important;
  }

  .nav-contact-btn {
    margin-right: 30px !important;
  }

  .slider-container {
    padding-left: 0 !important;
  }

  .about-row-b {
    padding-inline: 2rem !important;
  }

  .latest-game-content {
    padding: 5rem 5rem 5rem 5rem !important;
  }

  .counter-row {
    margin: 5rem 10rem !important;
  }

  .counter-heading {
    font-size: 1.6rem;
  }

  .footer-section {
    padding: 4rem 10rem !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .sticky-nav {
    justify-content: space-between !important;
  }

  .header {
    height: 100px;
  }

  .nav-items {
    gap: 3rem;
  }

  .nav-item:last-child {
    margin-right: 30px !important;
  }

  .search-icon {
    margin-right: 30px !important;
  }

  .nav-contact-btn {
    display: none;
  }

  .slider-container {
    padding-left: 0 !important;
    height: 80vh;
  }

  .about-banner {
    height: 400px;
  }

  .about-content p {
    font-size: 1.5rem;
  }

  .content-container {
    max-width: 100%;
  }

  .latest-game-section,
  .gallery-section,
  .contact-section,
  .footer-section,
  .section-team {
    padding-inline: 2rem !important;
  }

  .latest-game-content {
    padding: 3rem 3rem 3rem 3rem !important;
  }

  .counter-row {
    margin: 5rem 2rem !important;
  }

  .counter-heading {
    font-size: 1.6rem;
  }

  .footer-section {
    padding: 4rem 10rem !important;
  }
}

@media screen and (max-width: 992px) {
  .sticky-nav-container {
    visibility: hidden !important;
  }

  .header {
    height: 100px;
  }

  .nav-items,
  .nav-contact-btn {
    display: none;
  }

  .icon-bars {
    display: block;
  }

  .search-icon {
    margin-right: 3rem !important;
  }

  .slider-container {
    padding-left: 0 !important;
    height: 80vh;
  }

  .slider.owl-theme .owl-nav,
  .slider.owl-theme .owl-dots {
    display: none !important;
  }

  .slider-testimonial.owl-theme .owl-nav {
    display: none !important;
  }

  .slider-thumb-testimonial .owl-nav {
    display: block !important;
  }

  .slide-heading h1 {
    font-size: 4.8rem;
    margin-inline: 2rem !important;
  }

  .first-row::before,
  .first-row::after {
    display: none;
  }

  .about-section .content-container {
    max-width: 100% !important;
  }

  .about-left-content {
    padding-left: 2rem !important;
    padding-top: 2rem !important;
  }

  .about-left-content::after {
    display: none;
  }

  .about-left-content,
  .about-headings {
    align-items: start;
  }

  .about-headings h1 {
    text-align: start;
  }

  .mark {
    justify-content: start;
  }

  .about-content {
    padding: 2rem 5rem 2rem 2rem !important;
  }

  .about-row-b {
    padding: 2rem 2rem !important;
  }

  .service-item {
    margin-bottom: 2rem !important;
  }

  .latest-game-row {
    margin-bottom: 2rem !important;
  }

  .latest-game-section,
  .gallery-section,
  .contact-section,
  .footer-section,
  .section-team {
    padding-inline: 2rem !important;
  }

  .latest-game-content {
    margin-top: 0 !important;
    padding: 2rem 5rem 2rem 5rem !important;
  }

  .latest-game-content::before {
    display: none;
  }

  .image-right .latest-game-content {
    left: 0;
  }

  .row.image-left .image-container {
    left: 0;
  }

  .counter-row {
    margin: 5rem 2rem !important;
  }

  .slider-testimonial .owl-nav {
    display: block !important;
  }

  .contact-info-container {
    padding: 1.5rem 1rem !important;
  }

  .contact-form .row {
    margin-bottom: 0 !important;
  }

  .inputs input,
  .inputs textarea {
    margin-bottom: 2rem !important;
  }

  .slider-testimonial {
    width: 100% !important;
    height: auto !important;
    padding: 1rem 2rem !important;
  }

  .slider-testimonial .slide-review {
    text-align: center;
    font-size: 1.4rem;
  }

  .slider-thumb-testimonial {
    width: 300px;
    height: 100px;
    margin: -10px auto !important;
    overflow: hidden;
  }

  .quick-links {
    gap: 3rem !important;
  }

  .footer-contact a,
  .footer-contact span {
    margin-top: 1rem !important;
  }

  .footer-contact {
    flex-wrap: wrap;
  }

  .section-banner {
    padding-left: 0 !important;
  }

  .contact-left-content {
    padding-left: 2rem !important;
  }

  .contact-page-form {
    padding: 0 20px 20px 20px !important;
  }
}

@media screen and (min-width:768px) and (max-width: 992px) {
  .about-banner {
    height: 300px;
  }

  .footer-section {
    padding: 2rem 8rem !important;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  .logo {
    width: 250px;
  }

  .search-icon {
    margin-right: 2rem !important;
  }

  .slide-heading h1 {
    font-size: 3rem;
    margin-inline: 2rem !important;
  }

  .about-banner {
    height: 250px;
  }

  .about-left-content {
    padding-left: 3rem !important;
    background-color: transparent;
    padding-top: 2rem !important;
  }

  .about-content {
    padding: 2rem 3rem 2rem 3rem !important;
  }

  .section-title p {
    font-size: 1.2rem;
    width: 300px;
  }

  .slider-thumb-testimonial {
    width: 300px;
    height: 100px;
    margin: -10px auto !important;
    position: relative;
  }

  .quick-links {
    gap: 1.5rem !important;
  }

  .banner-content h1 {
    font-size: 4rem !important;
  }

  .footer-section {
    padding: 2rem 2rem !important;
  }
}

@media screen and (max-width: 500px) {
  .fancybox-navigation {
    display: none !important;
  }

  .logo {
    width: 250px;
  }

  .search-icon {
    margin-right: 2rem !important;
  }

  .slide-heading h1 {
    font-size: 2rem;
    margin-inline: 1rem !important;
  }

  .about-banner {
    height: 150px;
  }

  .about-left-content {
    padding-left: 2rem !important;
    background-color: transparent;
    padding-top: 2rem !important;
  }

  .about-left-content::after {
    display: none;
  }

  .about-left-content,
  .about-headings {
    align-items: start;
  }

  .about-headings h1 {
    text-align: start;
    font-size: 2.4rem;
  }

  .mark {
    justify-content: start;
  }

  .about-content {
    padding: 2rem 2rem 2rem 2rem !important;
  }

  .about-content p {
    text-align: justify;
  }

  .about-row-b {
    padding: 5rem 1rem !important;
  }

  .service-item {
    padding: 0.5rem !important;
  }

  .image-container {
    height: 200px;
  }

  .latest-game-content .game-content-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .download-btns {
    flex-direction: column;
  }

  .download-btns a.download-btn {
    width: 100%;
    margin-inline: 0 !important;
  }

  .latest-game-content-col {
    order: 2 !important;
  }

  .latest-game-image-col {
    order: 1 !important;
  }

  .latest-game-content {
    padding: 2rem 2rem 2rem 2rem !important;
  }

  .section-title h1 {
    font-size: 3rem !important;
  }

  .section-title h2 {
    font-size: 1.2rem !important;
  }

  .section-title img.title_image {
    width: 300px;
    height: 150px;
    object-fit: contain;
  }

  .section-title p {
    font-size: 1.2rem;
    width: 300px;
  }

  .slider-testimonial {
    width: 100% !important;
    height: auto !important;
    padding: 1rem 2rem !important;
  }

  .slider-testimonial .slide-review {
    text-align: center;
    font-size: 1.4rem;
  }

  .slider-thumb-testimonial {
    width: 300px;
    height: 100px;
    margin: -10px auto !important;
    overflow: hidden;
  }

  .quick-links {
    gap: 1rem !important;
  }

  .footer-logo img {
    width: 250px;
    height: 100px;
  }

  .banner-content h1 {
    font-size: 2.5rem !important;
  }

  .footer-section {
    padding: 1rem 1rem !important;
  }


}